/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
@import url('https://fonts.googleapis.com/css?family=Satisfy');

nav{
  background-color: transparent;
  z-index: 150;
  position: fixed;
}

nav ul a,
nav .brand-logo {
  color: #FFF;
  font-family: 'Satisfy'
}

nav ul a .active {
  background-color: inherit;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container{
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#index-banner{
  top:0;
  position: relative;
  height: 100vh;
}

.parallax-container .section {
  width: 100%;
}

#banner-text{
  margin-top: 10%;
  font-family: 'Satisfy';
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#my-map{
  width: 100%;
  height: 50vh;
}

footer.page-footer {
  margin: 0;
}


/*Arrow animation*/
a {
  color: white;
  text-decoration: none;
}
.arrow {
  text-align: center;
  padding-top: 25%;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}