
#boton{
    position: relative;
    top: 30px;
	text-align: center;
    
}

#body-map{
    
    background-color: black;
    background-image: url("imagenes/chicago2.jpg");
   
    
    
}

.pj{
    width: 300px;
    z-index: 1;
    position: absolute;
    top: 700px;
    left: 120px;
}
.pd{
    width: 400px;
    position: absolute;
    top:600px;
    left: 350px;
}


.texto{
    position: absolute;
    max-height: 200px;
    top: 720px;
    left: 460px;
    z-index: 2;
}

.texto2{
     position: absolute;
    max-height: 200px;
    top: 810px;
    left: 460px;
    z-index: 2;
}
#logo{
    position: relative;
    top: -1020px;
    width: 90px;
}


#Textologo{
    font-size: 100%;
    color: aliceblue;
    font-family:courier;
}

#linea{
    position: relative;
    top:-1040px;
    width: 110px;
}


#rent{
    position: relative;
    top:-1600px;
    left: 35px;
    width: 60px;
}

.message{
    display:none;
    color:white;
    background:#999;
    position:absolute;
    top:10px;
}


#radius{
    position: relative;
    top:-1800px;
    left: 35px;
    width: 60px;
}
#verRadio{
    position: relative;
    top:-800px;
    left: 22px;
    width: 50px;
}

#weather{
    position: relative;
    top:-170px;
    left: 450px;
    width: 60px;
}

#stats{
    position: relative;
    top:-222px;
    left: 520px;
    width: 60px;
}

#barrio{
    position: relative;
    top: -1610px;
    left: 35px;
    width: 60px;
}

#secure{
    position: relative;
    top:-1440px;
    left: 35px;
    width: 60px;
}

#crime{
    visibility: hidden;
    position: relative;
    top:-1080px;
    left: 645px;
    width: 60px;
}

#safest{
    visibility: hidden;
    position: relative;
    top:-1134px;
    left: 720px;
    width: 60px;
}

#places{
    position: relative;
    top: -1530px;
    left: 35px;
    width: 60px;
}



#eat{
    visibility: hidden;
    position: relative;
    top:-975px;
    left: 640px;
    width: 60px;
    color:red
}

#hospital{
    visibility: hidden;
    position: relative;
    top:-925px;
    left: 700px;
    width: 60px;
}


#police{
    visibility: hidden;
    position: relative;
    top:-1288px;
    left: 760px;
    width: 60px;
}

#park{
    visibility: hidden;
    position: relative;
    top:-1340px;
    left: 820px;
    width: 60px;
}

#book{
    visibility: hidden;
    position: relative;
    top:-1392px;
    left: 880px;
    width: 60px;
}

#budget{
    position: relative;
    top:-2000px;
    left: 45px;
    width: 60px;
}

#lineaf{
    position: relative;
    top:-1491px;
    width: 110px;
}

/*Show More*/

#ShowMore{
    visibility: hidden;
    position: relative;
    top:-2450px;
    left: 150px;
    width: 730px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
}

#ShowName{
    position: relative;
    top: -50px;
    right: -100px;
    width: 600px;
}
#ShowName2{
    position: relative;
    top: -50px;
    right: -100px;
    width: 600px;
}

#grafico{
    visibility: hidden;
    position: relative;
    top:-1150px;
    left: 150px;
    width: 730px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    
}
#gra{
    position: absolute;
    top: 100px;
    left: 40px;
}

#textoChart{
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 40px;
	font-size: 150%;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#primeraColumna{
    z-index: 1;
    position: absolute;
    top: 540px;
    left: 50px;
}

#segundaColumna{
    z-index: 1;
    position: absolute;
    top: 540px;
    left: 180px;
}

#terceraColumna{
    z-index: 1;
    position: absolute;
    top: 540px;
    left: 280px;
}

#cuartaColumna{
    z-index: 1;
    position: absolute;
    top: 540px;
    left: 370px;
}
#points{
    z-index: 1;
    position: absolute;
    top: 66px;
    left: 570px;
}
#poi{
    font-size: 500%;
}
#imgsafe{
    position: absolute;
    top: 350px;
    left: 520px;
}
#imgnear{
    position: absolute;
    top: 450px;
    left: 520px;
}
#imgcheap{
    position: absolute;
    top: 250px;
    left: 520px;
}
#psafe{
    position: absolute;
    top: 350px;
    left: 600px;
}
#pnear{
    position: absolute;
    top: 450px;
    left: 600px;
}
#pcheap{
	position: absolute;
    top: 250px;
    left: 600px;

}
.one{
    width: 200px;
   position: relative;
    right: -20px;
    top: -20px;
}

.two{
    width: 200px;
    position: relative;
    right: -40px;
    top: -20px;
}

#image{
    position: relative;
    width: 400px;
    right: -300px;
    top: -440px;
}

#return{
    position: relative;
    top: -20px;
}

/*Tool tip*/
html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.barra{
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 200%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.scroll{
    visibility: hidden;
    width: 140px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 200%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .barra{
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .scroll{
    visibility: visible;
    opacity: 1;
}

.radio{
    visibility: hidden;
    width: 120px;
    height: 30px; 
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 200%;
    top: 90%; 
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .radio{
    visibility: visible;
    opacity: 1;
}

#div_listt{
  border:1px solid #000;
  font-family:arial;
  height:100px;
  width:200px;
}
#ul_list{
  list-style:none;
  max-height:100px;
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
}
.li_list{
  background-color: black;
  color: white;
}
