#filters{
    background-color: #D2CECE;
}
#header1{
    color:darkslategrey;
    font-size: 20pt;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
    
}
input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}
#divZero{
    width: 100%;
    height: 20%;
}
#header2{
    display: inline;
    float:left;
}
#header3{
    display: inline;
    float:right;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #4A514B;
  background: linear-gradient(black,white);
  border-radius: 1px;
  border: 1px solid lightseagreen;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3px 2px 2px #3655A4;
  border: 2px solid #28324D;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: linear-gradient(#545861,#969CAC);
  cursor: pointer;
}
#houseInformation{
    background-color: white;
}
#houseInformation > img {
    float: left;
}
#houseInformation,#divTwo{
    overflow: hidden;
    background-color: white;
}
#img{
    width:21%;
    height:21%;
    border: double 5px black;
}
#divThree{
    margin-top: 1%;
    margin-left: 1%;
    background-color: #DC720F;
}
#paragraph1,#paragraph2,#paragraph3,#homeDescription,#paragraph0{
    color:white;
    font-size: 7pt;
}
#hideButton{
    background: linear-gradient(#737891,#4864F2);
    color: white;
}
