

.navbar-brand{
	font-size: 33px !important;
	font-family: 'Permanent Marker', cursive;
}
.fill {
  width: 100%;
  height: 70%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  height: 480px;
  background-color: grey;
}


.footer-distributed{
	box-sizing: border-box;
	width: 100%;
	text-align: left;

	padding: 45px 50px;
}
