md-toolbar-row {
  justify-content: space-between;
}

[md-raised-button] {
  width: 100%;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}