
html, body {
   height: 100%;
   margin: 0;
   padding: 0;

 }
 body{
   overflow: scroll;
 }
/*--------------------------------------Header Section----------------------------------------------------*/

 #header{
   background-image: url("header.jpg");
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   height: 700px;
   width: 100%;
   margin: 0;

 }

 #headerText{
   background-image: url("headerDes.jpg");
   background-attachment: fixed;
   padding: 25px;
   margin: 100px auto;
   max-width: 600px;
   -webkit-box-shadow:  1px 1px 5px 3px rgba(0, 0, 0, 0.2);
   box-shadow:  1px 1px 5px 3px rgba(0, 0, 0, 0.2);
}

#header h2{
  font-family: 'Alegreya', serif;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

#header p{
  font-family: 'Josefin Sans',sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-align: left;
}

/*------------------------------------------------Navigation Section-----------------------------------*/
#navigation{
  margin-top: 50px;
  position: relative;
  height: 250px;
  padding: 2px;
  display: block;
  width: 100%;
}


#navigation-two{
  background: #F5F5F5;
  margin-top: 50px;
  position: relative;
  height: 600px;
  padding: 2px;
  display: block;
  width: 100%;
  text-align: center;
}



#navigation p{
  font-family: 'Josefin Sans', sans-serif;
  color: #000000;
  margin: 0 0 0 200px;
  font-size: 40px

}

#navigation-two h3{
  font-family: 'Josefin Sans',sans-serif;
  color: #696969;
  font-size: 40px

}

#navigation-two p{
  font-family: 'Josefin Sans',sans-serif;
  color: #696969;
  font-size: 18px

}

#navigation-two h4{
  font-family: 'Josefin Sans',sans-serif;
  color: #696969;
  font-size: 25px

}


#navigation-two h2{
  font-family: 'Alegreya', serif;
  color: #696969;
  font-size: 40px

}

#navigation-two img{
  max-width: 100%;
}

.prg{
  margin-top: 20px;
}

/*-------------------------------------Map Section--------------------------------------------------*/
#mapSection {
  margin-top: 15px;
  position: relative;
  height: 500px;
  width: 100%;
  padding: 2px;
  display: block;
  text-align: center;

}
#map {
  margin-top: 10px;
  position: relative;
  height: 500px;
  width: 90%;
  padding: 2px;
  display: block;
  margin: 0 0 0 100px;
  -webkit-box-shadow:  1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow:  1px 1px 5px 3px rgba(0, 0, 0, 0.2);
}

#mapSection p{
  font-family: 'Josefin Sans',sans-serif;
  color: #000000;
  margin: 100px 0 0 10px;
  font-size: 40px
}
/****************Info Section **************************/
#info-section{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  margin: 0;
  margin-top: 15px;
  position: relative;
  padding: 2px;
  display: block;
}

#climate{
  background-attachment: fixed;
  color: #000000;
  padding: 15px;
  margin: 50px auto;
  max-width: 600px;
  -webkit-box-shadow:  2px 2px 6px 4px rgba(0, 0, 0, 0.5);
  box-shadow:  2px 2px 6px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 30px;
}



/*****************************************************/

hr {
  border-top: 3px solid #2f4f4f;
  border-bottom: 2px dashed #2f4f4f;
  border-left:none;
  border-right:none;
  height: 6px;
}
