/* index style */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        
      }
      h1{
          text-align: center;
          
      }
      p{
         margin-left: 5%;
          
          
      }
      button{
          margin-left: 3%;
          
      }
      #map {
        height: 50%;
        width: 45%;
        float: right;
        margin-right: 10%;
      }
