/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
  width: 580px;
  margin: 20px;

}
.map-opt{
    float: left;
}
.right-pane{
  float: left;
  width:auto;
}
#title{
  font-size: 150%;
  font-family: 'Times New Roman';
  color: #80ff80;
}

.asy-search-list{

}
.asy-search-item{
background-color: #D8D8D8;
}
.asy-search-item:hover{
  cursor: pointer;
}
html, body {
  height: 100%;
  margin: 10px;
  padding: 0;
  background-image: url("../img/back3.png");
}
.botton-pnl{
  clear: both;
}
