nav{
    background-color:cadetblue!important;
    /*background-color: burlywood !important;*/
    background: -webkit-linear-gradient(left, rgba(14,207,81,0.7), rgba(233,106,8,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(14,207,81,0.7), rgba(233,106,8,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(14,207,81,0.7), rgba(233,106,8,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(14,207,81,0.7), rgba(233,106,8,1));
}
#buttn{
    background: linear-gradient(to right, gold,goldenrod,tomato);
}
#navbar li{
    border-right:1px solid #bbb;    
}
#navbar li a{
    color: white !important;
}
.navbar-brand:link, .navbar-brand:visited{
    color:white !important;
}
.navbar-brand:hover, .navbar-brand:active{
    color:paleturquoise !important;
}
#navbar li a:link ,#navbar li a:visited{
    color:white !important;
}
#navbar li a.active{
    background-color:green;
    color:paleturquoise !important;
}
#navbar li a:hover:not(.active), #navbar li a:active{
    color:paleturquoise !important;
    background-color:green;
}