*{
	margin:opx;
	padding:0px;
	/*background-color: ;*/
}
body{
	background-color:azure;
}
#general{
	margin:auto;
	width:2300px;
	height:1050px;
	
}
#name {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	color:lightslategray;
	text-align:center;
}
#map{
	float:left;
	margin-top: 20px;
	margin-right:20px;
    height: 700px;
    width: 50%;
    padding: 2px;
}
#weather{
	float:left;
	margin-top: 20px;
	margin-right:20px;
    height: 200px;;
	width : 45%; 
    padding: 2px;
	border-style:solid;
	border-color:black;
	/*background-color: red;*/
}
#w{
	font-size:30px;
	font-family: 'Fjalla One', sans-serif;
	text-align:center;
}

#budget{
	float:left;
	margin-top: 20px;
	margin-right:20px;
    height: 300px;;
	width : 45%; 
    padding: 2px;
}
#bud{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	text-align:center;
}