html, body  {

	background-color: #E1AC1C;
}

.sidenav {
      height: 100%;
      background-color: #DEC786; 
    }

 .row.content {

 	height: 500px

 }

 .vertical-menu {
    width: 200px;

}

  .scrollList {
    overflow-y: scroll;
    height: 280px;
    width: 1005;
  }

  .list-group-item.active {
    background-color: #84724B;
  }


.mapa {

border-style: solid;

}
