html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("fondo_inicio.jpg");
    background-repeat: repeat;
}

#map {
    margin-top: 108px;
    margin-left: 5%;
    position: absolute;
    height: 571px;
    width: 50%;
    display: block;
}


#side-menu {
    margin-left: 53.8%;
    display: block;
    height: 40%;
}

* {
    margin: 0px;
    padding: 0px;
}
