body {
    padding-top: 50px;
    background-color: #DCDCDC;
}

.starter-template {
  padding: 15px 15px;
  text-align: center;
}

.maps{
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  background: grey;
  #padding-bottom: 56.25%;
}
#map{
    height: 420px;
}

#weather{
    text-align: center;
    color: DarkBlue;
    text-shadow: 1px 1px white;
}