html, body { height: 100%; margin: 0; padding: 0; }

#contenedor {height: 100%; width: 100%; background-color: white; position: relative;}

.climateHead { height: 5%; width: 100%; background-color: #2e2f30; color: white; font-family: sans-serif;font-size: 30px;padding-top: 1%}

.climate{float: right;margin-right: 10%; color: #707070;}

#map { height: 100%; width: 100%; absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;}

#wet{ color:white; float: right;}

#mitad{ height: 100%; width: 40%;position: fixed; background-color: rgba(115, 115, 115, .8); z-index: 2; border-right: 5px; border-color: #363738 ;filter: blur(3px);}
