@{
    ViewBag.Title = "Home Page";
} 
<div class="jumbotron">
    <h1>Road Trip Agent</h1>
    <p class="lead">Road Trip Agent is an intelligent and experienced road trip advisor. All you have to do is choose the dates, and leave all the trivial stuffs to our agent!</p>
    <p><p>@Html.ActionLink("Getting Started", "Start", "Home", null, new { @class = "btn btn-default", @style = "font-size:16px" }) </p></p>
</div>
 